.flag {
  
  width: 300px;
  height: 200px;
  border: 1px solid black;
  position: relative;
  margin-bottom: 50px;
  background-color: transparent;
  
}

.redDot {
  
  width: 120px;
  height: 120px;
  background-color: darkred;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  
}

.triangle {
  
  width: 0px;
  height: 0px;
  border-left: 150px solid blue;
  border-right: 150px solid transparent;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  margin: auto;
  z-index: 2;
  position: absolute;
  
}

.bottomRed {
  
  height: 50%;
  background-color: red;
  margin-top: 33.3333%;
  z-index: 1;
  position: relative;
  
}

.micronesia {
  
  width: 350px;
  height: 200px;
  background-color: #99d6ff;
  border: 1px solid black;
  position: relative;
  margin-bottom: 50px;
  z-index: 1;
  
}

.square {
  
  width: 40px;
  height: 40px;
  
}

.star {
  
  line-height: 40px;
  text-align: center;
  color: white;
  font-size: 50px;
  
  }
  
.top {
  
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -20px;
  
}

.bottom {
  
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  transform: rotate(180deg);
  
}

.left {
  
  position: absolute;
  top: 50%;
  left: 27%;
  margin-top: -20px;
  transform: rotate(270deg);
  
}

.right {
  
  position: absolute;
  top: 50%;
  right: 27%;
  margin-top: -20px;
  transform: rotate(90deg);
  
}